/* Font for the page */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Bahnschrift';
  color: white;
  background-color: #115e67;
}

/* Fonts for headings */
h1{
  font-size: 1.5rem;
  font-family: 'Bahnschrift', cursive;
  color: #2e2e2e;
}
h2{
  font-size: 1rem;
  font-family: 'Bahnschrift', cursive;
  color: #2e2e2e;
}
h3, h4 {
  font-size: 1.5rem;
  font-family: 'Bahnschrift', cursive;
  color: white;
  font-weight: bolder;
  padding-left: 1px;
}
h5, h6 {
  font-size: 0.5rem;
  font-family: 'Bahnschrift', cursive;
  color: white;
}

/* Background color of header */
header {
  background-color: #115e67;
}

/* Styling for the buttons */
button {
  background-color: #2e2e2e !important;
  color: white !important;
  font-family: 'Bahnschrift', cursive;
}

/* Styling for the buttons when hovered on */
button:hover {
  background-color: #f1b434 !important;
  color: #34252f !important;
}

nav {
  background-color: #f1b434;
  text-align: center;
}

.chart {
  top: 0px;
  position: relative;
}
.card {
  margin: 10px 0px;
  position: relative;
  width: 100%
}

/* Sets the colors for cards */
.cardColor {
  background: #2e2e2e;
  color: white;
}

.active-status {
  background-color: #40b640;
  margin: 0px 10px;
  border-radius: 5px;
  display: inline-block;
  color: black;
  font-weight: bolder;
}

.exception-status {
  background-color: #d63030;
  margin: 0px 10px;
  border-radius: 5px;
  display: inline-block;
  color: black;
  font-weight: bolder;
}

/* Styling for footer */
footer {
  font-size: 13px;
  background-color: #2e2e2e;
  color: white;
}

/* Styling for footer headlines */
footer h6 {
  font-weight: bold;
  color: white;
}

ul{
  list-style-type: none;
  text-align: left;
  position: relative;
}

li{
  font-size: 1rem;
  font-family: 'Bahnschrift', cursive;
  color: #2e2e2e;
  font-weight: bolder;
}

table{
  font-size: 1rem;
  display: inline-block;
  table-layout: fixed;
  overflow-x: scroll;
  width: 80%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #333333;
}

#historytable th{
  width: 25%;
}

.table td, .table th{
  width: 20%;
  vertical-align: middle; 
}

.fixed_header{
  display: inline-block; 
  width: 100%;
  border-collapse: collapse;
  min-height: 25vh;
  max-height: 50vh;
  overflow-y: scroll;
  margin: 0px;
}

.fixed_header tbody{
  
  overflow:auto;
  width:80%;
}

.fixed_header thead tr {
  padding: 0px;
  margin: 0px;
  width: 100%; 
}

.fixed_header th {
  padding: 0px;
  border: 0px;
  width: 16%;
}

.fixed_header td {
  padding: 5px;
  margin: 0px;
}

.stickyHead {
  position: sticky;
  top: 0;
  padding: 0px;
  border: 0px;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 1rem;
}

.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 1rem;
}

.resource-counter{
  color: white;
  text-align: right;
  padding-top: 10px;
}

@media (max-width: 500px) {
  .active-status, .exception-status {
    width: 75px;
    height: 12.5px;
    line-height: 12.5px;
  }
  .historybutton{
    width: 75px;
    height: 20px;
    font-size: 1rem;
  } 
  html {
      font-size: 8px;  
  }
}

@media (min-width: 501px) {
  .active-status, .exception-status{
    width: 125px;
    height: 25px;
    line-height: 25px;
  }
  .historybutton {
    width: 125px;
    height: 25px;
    padding: 0px;
  }
  html {
      font-size: 15px;
  }
}

/* Code found on https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/date */
label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}