/* Font for the page */
body {
  font-family: 'Bahnschrift';
  color: white;
  background-color: #115e67;
}

/* Fonts for headings */
h1{
  font-size: 1.5rem;
  font-family: 'Bahnschrift', cursive;
  color: #2e2e2e;
}
h2{
  font-size: 1rem;
  font-family: 'Bahnschrift', cursive;
  color: #2e2e2e;
}
h3, h4 {
  font-size: 0.8rem;
  font-family: 'Bahnschrift', cursive;
  color: white;
  padding-left: 1px;
}
h5, h6 {
  font-size: 0.5rem;
  font-family: 'Bahnschrift', cursive;
  color: white;
}

/* Background color of header */
header {
  background-color: #115e67;
}

/* Styling for the buttons */
main button {
  background-color: #2e2e2e !important;
  color: white !important;
  font-family: 'Bahnschrift', cursive;
}

/* Styling for the buttons when hovered on */
main button:hover {
  background-color: #f1b434 !important;
  color: #34252f !important;
}

.card {
  margin: 10px 0px;
  position: relative;
  width: 100%
}

/* Sets the colors for cards */
.cardColor {
  background: #2e2e2e;
  color: white;
}

.active-status {
  background-color: #40b640;
  margin: 0px 10px;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  display: inline-block;
  color: black;
  font-weight: bolder;
}

.exception-status {
  background-color: #d63030;
  margin: 0px 10px;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  display: inline-block;
  color: black;
  font-weight: bolder;
}

/* Styling for footer */
footer {
  font-size: 13px;
  background-color: #2e2e2e;
  color: white;
}

/* Styling for footer headlines */
footer h6 {
  font-weight: bold;
  color: white;
}

ul{
  list-style-type: none;
  text-align: left;
  position: relative;
}

li{
  font-size: 1rem;
  font-family: 'Bahnschrift', cursive;
  color: #2e2e2e;
  font-weight: bolder;
}

@media (max-width: 50px) {
  html {
      font-size: 15px;
  }
}

@media (min-width: 501px) {
  html {
      font-size: 10px;
  }
}