/* Font for the page */
body {
  font-family: 'Bahnschrift';
  color: white;
  background-color: #115e67;
}

/* Fonts for headings */
h1{
  font-size: 1.5rem;
  font-family: 'Bahnschrift', cursive;
  color: #2e2e2e;
}
h2{
  font-size: 1rem;
  font-family: 'Bahnschrift', cursive;
  color: #2e2e2e;
}
h3, h4 {
  font-size: 0.8rem;
  font-family: 'Bahnschrift', cursive;
  color: white;
  padding-left: 1px;
}
h5, h6 {
  font-size: 0.5rem;
  font-family: 'Bahnschrift', cursive;
  color: white;
}

/* Background color of header */
header {
  background-color: #115e67;
}

/* Styling for the buttons */
main button {
  background-color: #2e2e2e !important;
  color: white !important;
  font-family: 'Bahnschrift', cursive;
}

/* Styling for the buttons when hovered on */
main button:hover {
  background-color: #f1b434 !important;
  color: #34252f !important;
}

nav {
  background-color: #f1b434;
  text-align: center;
}

.chart {
  top: 0px;
  position: relative;
}
.card {
  margin: 10px 0px;
  position: relative;
  width: 100%
}

/* Sets the colors for cards */
.cardColor {
  background: #2e2e2e;
  color: white;
}

.active-status {
  background-color: #40b640;
  margin: 0px 10px;
  border-radius: 5px;
  display: inline-block;
  color: black;
  font-weight: bolder;
}

.exception-status {
  background-color: #d63030;
  margin: 0px 10px;
  border-radius: 5px;
  display: inline-block;
  color: black;
  font-weight: bolder;
}

/* Styling for footer */
footer {
  font-size: 13px;
  background-color: #2e2e2e;
  color: white;
}

/* Styling for footer headlines */
footer h6 {
  font-weight: bold;
  color: white;
}

ul{
  list-style-type: none;
  text-align: left;
  position: relative;
}

li{
  font-size: 1rem;
  font-family: 'Bahnschrift', cursive;
  color: #2e2e2e;
  font-weight: bolder;
}

table{
  table-layout: fixed;
  width: 80%;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #333333;
}

.fixed_header{
  display: inline-block; 
  width: 100%;
  border-collapse: collapse;
  min-height: 25vh;
  max-height: 50vh;
  overflow-y: scroll;
  margin: 0px;
}

.fixed_header tbody{
  
  overflow:auto;
  width:80%;
}

.fixed_header thead tr {
  padding: 0px;
  width: 100%; 
}

.fixed_header th {
  padding: 0px;
}

.fixed_header td {
  padding: 5px;
}

.stickyHead {
  position: sticky;
  top: 0;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 500px) {
  .active-status, .exception-status {
    width: 75px;
    height: 12.5px;
  }
  .historybutton{
    width: 75px;
    height: 20px;
    font-size: 0.7rem;
  }
  html {
      font-size: 10px;  
  }
}

@media (min-width: 501px) {
  .active-status, .exception-status {
    width: 125px;
    height: 25px;
  }
  .historybutton {
    width: 125px;
    height: 25px;
    padding: 0px;
  }
  html {
      font-size: 15px;
  }
}

.table-fixed thead {
  width: 100%;
}
.inputHeader{width:100%}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
